
h1 {
    text-align: center;
	background-color: yellow; 	
	font: Bookman Old Style;
	color: black; 		
	border: 5px dashed orange;
	padding: 10px;
}

body {
    background-image: url(spongebobback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
  width: 100px;
  height: 100px;
}

.button {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #F78733;
  border: none;
  border-radius: 15%;
  box-shadow: 0 25px yellow;
	}

.button:hover {
	background-color: orange;
	}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 15%;
}

.container {
  position: relative;
  width: 60%;
}

.image {
  display: block;
  width: auto;
  height: 100%;
  border-radius: 30px;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 3.5s;
	}

.container:hover .overlay {
  opacity: 1;
	}

img.thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

.box {
    background-color: yellow;
    text-align: center;
    font: "Calibri";
}

a:hover {
        color: yellow;
        background-color: orange;
    }
