body {
    background-image: "spongebob.jpg";
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

td {
  width: 175px;
  height: 175px;
}

table {
  margin: 5px auto;
  border-collapse: collapse;
    background: black
}
